/* ----------------------------------- *
 * Your Styles Here
 * ----------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Lato:300|Montserrat');

body {
  background: linear-gradient(#ccc, #fff 700px);
}

p {
  font-family: Lato, sans-serif;
  color: #333E51;
  margin-bottom: 8px;
}

h1,
h2,
h3 {
   font-family: Montserrat, sans-serif;
}

h1 {
  color: #1B2534;
  font-size: 28px;
}

h2 {
  color: #333E51;
  font-size: 18px;
}

a,
a:link,
a:visited {
  font-family: Lato, sans-serif;
  color: #FF5300;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

#main-header {
  margin: 30px auto;
  padding: 0px;
  width: 800px;
  height: 420px;
  display: block;
  background-image: url('/assignment_viking_css_garden/content/thor_hammer.jpg');
  background-repeat: no-repeat;
  box-shadow:2px 2px 8px #1B2534;
}

.site-title {
  padding: 100px 0px 20px 50px;
  display: block;
}

.tagline {
  font-style: italic;
  padding-left: 60px;
  display: block;
}

#main-content {
  max-width: 620px;
  margin: 0 auto;
  display: block;
  vertical-align: middle;
}

.main-content-section {
  margin-bottom: 24px;
  vertical-align: baseline;
  padding: 0 10px;
}

.section-title {
  margin-bottom: 12px;
}

.section-content {

}

.citation {
  margin-left: 10px;
  font-style: italic;
}

#sidebar {
  display: block;
  width: 170px;
  position: fixed;
  top: 480px;
  right: 0px;
}

@media (max-width: 930px) {
  #sidebar {
    position: static;
    vertical-align: middle;
    margin: 0 auto;
  }
}

.sidebar-nav {

}

.nav-links {

}

.nav-link-list-item {
  margin-bottom: 12px;
  padding: 20px 10px 20px 10px;
  background: linear-gradient(to right, #ccc, #fff 90%, #FF5300);
  background-size: 380px;
  box-shadow:2px 2px 8px #ccc;
  border: 0px;
  border-radius: 0 20px 0 20px;
  transition: background 0.3s ease-out, border-radius 0.3s ease-out;
  cursor: pointer;
}

.nav-link-list-item:hover {
  background-position: -210px 0;
  border-radius: 20px 0 20px 0;
}

.nav-link,
.nav-link:active,
.nav-link:visited {
  color: #FF5300;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-out;
}

.nav-link:hover {
  color: #FF7A3A;
  text-decoration: none;
  font-weight: bold;
}
