$header-color: #1B2534;
$subheader-color: #333E51;
$link-color: #FF5300;
$link-gradient: linear-gradient(to right, #ccc, #fff 90%, #FF5300);
$box-shadow: #1B2534;
$link-hover-color: #FF7A3A;
$background-gradient: linear-gradient(#ccc, #fff 700px);
