$primary-background-color: #ffffee;
$paragraph-background-color: #eeffee;
$paragraph-border-color: #a9a9a9;
$list-item-button-color: #aaffaa;
$reading-text-color: #ffffff;
$deemphasize-text-color: #b9b9b9;
$selected-text-color: #595959;
$list-item-background-color: lightgray;
$list-item-border-color: gray;