$main_background_color: #267326;
$main_text_color: #D7A982;
$citation_text: #442002;
$nav_link_background_color: #6B3C15;
$nav_link_list_item_a_background_color: #D7A982;
$nav_link_list_item_a_text_color: #442002;
$nav_link_list_item_a_text_hover_background_color: #442002;
$nav_link_list_item_a_text_hover_text_color: #D7A982;
