$page-background: #B6CCCC;
$page-gradient: linear-gradient(#647A9A, #6BAF7D);
$title-color: #0A2246;
$tagline-color: #010C1C;
$link-color: #001515;
$link-color-hover: #D6D6D6;
$border-color: #061F43;
