@import "_colors.scss";

body {
  background-color: $background-color;
  height: 2500px;
}

#background {
  background: url('../images/background.jpg');
  background-repeat: none;
  background-size: 100% 100%;
  width: 1200px;
  height: 2500px;
  margin: auto;
}

@mixin box-shadow-opensans {
  background-color: $light-purple;
  box-shadow: 10px 10px $dark-purple;
  font: {
    family: "Open-Sans", sans-serif;
    size: 20px;
  }
}

@mixin box-shadow-martel {
  background-color: $light-purple;
  box-shadow: 10px 10px $dark-purple;
  font: {
    family: "Martel", serif;
  }
}

.growing {
  @include box-shadow-martel;
  height: 140px;
  width: 300px;
  margin-top: 50px;
  margin-left: -125px;
  padding-top: 22px;
  font-size: 42px;
  text-align: center;
  float: left;
  line-height: 130%;
}

.gardentext {
  @include box-shadow-opensans;
  float: right;
  width: 930px;
  height: 140px;
  margin-top: 50px;
  margin-right: -125px;
  margin-bottom: 40px;
  padding-top: 8px;
  padding-left: 100px;
  padding-right: 20px;
}

.content {
  ul {
    list-style-image: url('../images/helmet.jpg');
    margin-top: -4px;
  }
  li {
    padding-bottom: 4px;
  }
}

#sidebar {
  @include box-shadow-martel;
  font-size: 20px;
  position: relative;
  top: -600px;
  left: 740px;
  width: 380px;
  height: 450px;

  .section-title {
    padding-top: 10px;
    padding-bottom: 30px;
  }
}

.sidebar-nav {
  padding-top: 10px;
  padding-bottom: 30px;
}

.nav-links {
  list-style-image: url('../images/helmet.jpg');
  padding-left: 60px;
}

label {
  clear: both;
  width: 150px;
  height: 50px;
  padding-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  font-family: Trocchi, serif;
  font-size: 32px;
  font-weight: bold;
  color: $dark-purple;
}

.nav-link-list-item {
  padding-bottom: 20px;
  padding-left: 10px;
}

.norse {
  font-size: 48px;
  font-family: Trocchi, serif;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  margin-bottom: 40px;
}

.image {
  width: 150px;
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;
}

.right {
  float: right;
}

.left {
  float: left;
}
.section-content {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.section-content p {
  margin-bottom: 40px;
}

.shrink {
  width: 600px;
}

cite {
  font-size: 16px;
  font-family: Martel, serif;
}

#main-header {
  width: 100%;
  margin: 0 auto;
  padding-top: 70px;
  text-align: center;
}

.site-title {
  font-family: Trocchi, serif;
  font-size: 60px;
}

.garden {
  margin: 0 auto;
  width: 780px;
  height: 500px;
  padding-top: 35px;

}

.tagline {
  font-family: "Martel", serif;
  font-size: 40px;
  padding-top: 220px;
}

.main-content-section {
  width: 980px;
  margin: 0 auto;
}
