/* FONTS */

/*

font-family: 'Cormorant Unicase', serif;
font-family: 'Quattrocento Sans', sans-serif;

*/ 

/* COLORS 

forest green: #264330
darkest green: #32C363
darker green: #52D87F
light green: #A5F4C0
off white: #DAFDE6

*/
@import "_colors.scss";
$header-img: url("../Viking-in-Montreal-Botanical-Garden.jpg");


html {
    @include color-html;
    font-family: 'Quattrocento Sans', Arial, sans-serif;
    font-size: 18px;
    text-rendering: optimizeLegibility;
}

body {
    line-height: 1.5;
}

$font-stack-headers:  'Cormorant Unicase', "Times New Roman", serif;

h1,
h2,
h3 {
    padding: 0 10px;
}

h1 {
    font: 250% $font-stack-headers;
    font-weight: 700;
}

h2 {
    font: 150% $font-stack-headers;
    border-bottom: solid 1px;
}

h3 {
    font: 140% $font-stack-headers;
}

p, 
.citation {
    padding: 0 10px 15px 10px;
}

.citation {
    font-style: italic;
}

/* new header */

.new-header-img {
    position: relative;
    float: left;
    opacity : 0.7;
    width: 100%;
    height: 700px;  
    background: $header-img;
    background-size: 100%100%;
}

.img-gradient:after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(25, 24, 24, 0.91))
}

.new-site-title, 
.new-tagline {
    position: absolute;
    color: #DAFDE6;
    z-index: 1;
}

.new-tagline {   
    right: 0;
    bottom: 0;
    font-style: italic;
}

/* main-content */

#main-content {
    max-width: 75%;
    float: left;
}

/* links */


.citation a:link, 
.citation a:visited, 
.text-box:link,
.text-box:visited {
    color: #466368;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #466368;
    transition: border-bottom 0.2s, color 0.2s;
}

.citation a:hover,
.citation a:active,
.text-box:hover,
.text-box:active {
    color: #264330;
    border-bottom: 1px solid transparent;
    transform: scale(1.15);
    font-weight: 800;
}

/* sidebar */ 

aside {
    float: right;
    width: 25%;
    .section-title {
    text-align: center;  
    }
}

.gradient {
    @include gradient-side;
}

.garden-photo {
    width: 80%;
    margin: 5px auto;
    text-align: center;
    overflow: hidden;
    img {
    opacity: 0.5;
    width: 100%;
    height: auto;
    transform: scale(1.08);
    }
        img:hover {
    transform: scale(1.03);
    transition: transform 0.5s;
    opacity: 1;
        }
}
        
.img-box {
    position: relative;
    display: inline-block;
}


.text-box {
    position: absolute;
    text-align: center; 
    width: 30%;
    margin: auto;
    top: 40%;
    right: 0;
    left: 0;
    transform: scale (1.1);
}

/*  SHRINK TEXT LINKS AT 480 PIXELS */

@media only screen and (max-width: 600px) {
	figure .nav-link { 
        font-size: 80%;
        top: 30%;
    }
}