$phone-width: 600px;
$tablet-width: 900px;
$desktop-width: 1200px;

@mixin phone {
    @media (max-width: #{phone-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{phone-width + 1px}) and (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$tablet-width + 1px}) and (max-width: #{$desktop-width}) {
        @content;
    }
}
