
@import "colors";
@import "clearfix";
@import "queries";


html {
  font-family: 'Cormorant Infant', serif;
  font-size: 20px;
}

h1, h2 {
  font-family: 'Inknut Antiqua', serif;
  text-align: center;
}

a {
  color: $primary-color;
  &:visited {
    color: $shadow-color;
  }
  &:hover {
    color: $highlight-color;
  }
}

cite {
    display: inline-block;
    width: 100%;
    text-align: center;
}

header {
  background-image: linear-gradient(
    rgba(256, 256, 256, 0.4), rgba(256, 256, 256, 1)
    ), url('/img/background.jpg');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30rem;
  z-index: -1;
  padding-top: 8rem;
  h2 {
    font-size: 1rem;
  }
}

.container {
  width: 80%;
  max-width: 1200px;
  background: white;
  margin: 20rem auto 0 auto;
  padding: 2rem;
  border-radius: 1rem;
}

p {
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &::first-letter {
    font-size: 2.5rem;
    color: $primary-color;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-align: center;
  a, img {
    display: block;
  }
  img {
    width: 60%;
    margin: 0 auto 0 auto;
    padding: 0.5rem;
    height: auto;
    filter: grayscale(100%);
    transition-duration: 0.5s;
  }
  img:hover {
    filter: unset;
    width: 95%;
    transition-duration: 0.5s;
  }
  img, img:hover {
    @include tablet {
      width: 100%;
      padding: 1rem 0 0 0;
    }
  }
  @include tablet {
    display: inline-block;
    width: 45%;
    margin: 2%;
  }
  @include phone {
    width: 80%;
    margin: 2% 10%;
  }
}

main{
  width: 70%;
  float: left;
  @include desktop {
    width: 60%;
  }
  @include tablet {
    width: 100%;
  }
}

article {
  column-count: 2;
  @include desktop {
    column-count: 1;
  }
}

aside {
  width: 30%;
  float: right;
  @include desktop {
    width: 40%;
  }
  @include tablet {
    width: 100%;
  }
}
