/* ----------------------------------- *
 * Your Styles Here
 * ----------------------------------- */

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Droid Serif', serif;
  background-color: #B6CCCC;
  background-image: linear-gradient(#647A9A, #6BAF7D);
}

#main-header {
  padding: 20px 10px;
  margin-bottom: 20px;
}

.site-title {
  color: #0A2246;
  font-size: 40px;
  margin: 5px;
}

.tagline {
  color: #010C1C;
  font-size: 24px;
  margin: 5px;
}

#main-content {
  padding: 5px 30px 35px 35px;
  display: inline-block;
  float: right;
  width: 85%;
  border-left: 2px solid #061F43;
}

.section-title {
  font-size: 28px;
}

.section-content {
  font-size: 16px;
  padding: 5px;
}

.section-content p {
  margin: 1em 1em;
}

.citation {
  padding-left: 55px;
}

#sidebar {
  display: inline-block;
  float: left;
  width: 15%;
  /*border-right: 2px solid #061F43;*/
}

#sidebar .section-title {
  font-size: 20px;
  padding: 5px;
}

.sidebar-nav {
  padding: 2px 5px;
}

.nav-link-list-item {
  padding: 0.75em;
}

a {
  text-decoration: none;
  color: #001515;
}

a:hover {
  color: #D6D6D6;
}
