body {
  font-family: 'Kalam', cursive;
  background-color: #C1CDEA;
  background-image: url("paper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #1E2A47;
}

header {
  text-align: center;
  margin-bottom: 10px;
  h1 {
    margin-top: 36px;
    font-size: 36px;
    font-weight: 700;
  }
  h2 {
    margin-top: 8px;
    font-size: 18px;
  }
}

main {
  max-width: 640px;
  @media screen and (min-width: 840px) {
    max-width: 800px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 984px;
  }
  margin: 20px auto;
  font-size: 18px;
  line-height: 1.5em;
  h2 {
    text-align: center;
    text-decoration: underline;
    margin-top: 10px;
  }
  article {
    text-indent: 40px;
    text-align: justify;
  }
  .citation {
    line-height: 3em;
    a {
      color: #544489;
      text-decoration: none;
      &:hover {
        color: #AB9BE0;
      }
    }
  }
}

aside {
  max-width: 680px;
  @media screen and (min-width: 760px) {
    max-width: 800px;
  }
  @media screen and (min-width: 982px) {
    max-width: 1024px;
  }
  margin: 20px auto;
  h2 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 18px;
    text-decoration: underline;
  }
  ul li {
    display: block;
    float: left;
    padding: 10px 5px 10px 5px;
    border: 1px dashed #AB9BE0;
    font-size: 16px;
    margin-bottom: 5px;
    background-color: #DFD6FB;
    width: 100%;
    line-height: 1.5em;
    @media screen and (min-width: 760px) {
      width: 30%;
      margin: 10px 0 5px 4px;
      line-height: 2em;
    }
    @media screen and (min-width: 982px) {
      width: 13.5%;
      margin-bottom: 20px;
    }
    border-radius: 10px;
    text-align: center;
    transition: border 0.3s;
    box-sizing: border-box;
    &:hover {
      border: 2px solid #291F49;
    }
    a {
      text-decoration: none;
      color: #544489;
      &:hover {
        color: #AB9BE0;
      }
    }
  }
}
