/* ----------------------------------- *
 * Your Styles Here
 * ----------------------------------- */
 *{
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
}


/*--Main Header---*/

#main-header {
  display: :block;
  width: 100%;
  height: 80px;
  clear:both;
  background-color: #D2D36A;
  color: #111;
}

.site-title {

  float:left;
  padding: 15px 0 15px 15px;
  margin-left: 10%;
  font-family: Overlock, "Open Sans", sans-serif;
  font-weight:100;


}

.tagline {

  float:right;
  padding:15px 15px 15px 0;
  margin-top: 20px;
  margin-right: 10%;
  font-family: "Cabin Sketch", "Open Sans", sans-serif;
  font-size:24px;
}

h1 {
  font-family: serif;
  font-size: 32px;
  font-weight:bolder;
}

body {
  clear:both;
  display:block;
  position:absolute;
  width: 100%;
  height:100%;
  box-sizing: border-box;
  background-color: #4F628E;

}

/*----Main Content---*/

h2{
  font-family: Arial;
  font-weight: 800;
}

#main-content {
  float:right;
  position:absolute;
  padding:15px;
  margin-left:150px;
  width:auto;
  height:auto;
  background-color:#7887AB;
  border-top-left-radius: 25px;

}

#main-content .section-title {
  text-decoration: underline;
  font-size: 30px;
  font-family: fantasy;
  text-decoration: none;
}



.section-content {
  padding: 25px;
  text-indent: 40px;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.section-content::first-letter{
  font-size: 50px;
  font-family: cursive;
}

.section-content p{
  padding:10px;
}


.citation {
  float:right;
}

/*----Sidebar-----*/

#sidebar {
  float:left;
  position: absolute;
  padding:15px;
  width: 120px;
  height:100%;
  background-color:#4F628E;

}
.sidebar-nav li:hover{
  background-color: #D1686D;
}

.nav-link-list-item {
  background-color:#7D151A;
  box-shadow: 5px 5px 1px black;
  border-radius: 20px;
  margin: 10px 0 10px 0;
  padding:5px;

}

.nav-link-list-item a{
    text-decoration: none;
    color:#EEE;

}

.nav-links li {
    list-style: none;
    text-align: center;
    font-size: 20px;
}

/*----@media sizes----*/

@media screen and (max-width: 880px){
  #main-header {
    height:120px;
  }
    .site-title {
      padding-bottom: 2px;

    }

    .tagline {
      padding-top:2px;
    }
}

@media only screen and (max-width: 500px) {
  #main-header {
    height: 100px;
    width:auto;
    position: fixed;
    z-index: 100;
  }

  .tagline {
    font-size: 16px;
  }

  #sidebar {
    width:auto;
    height: auto;
    margin-top:100px;
    position: fixed;

  }

#sidebar li {
  font-size: 14px;
  width:30%;
  float:left;
  padding:0px;

}

  #main-content {
    margin-left: 0px;
    border-radius: 0px;
    height:auto;
    width:auto;
    margin-top: 259px;

  }
}
