/* ----------------------------------- *
 * Your Styles Here
 * ----------------------------------- */

$header-color: #151515;
$tagline-color: #3b5998;
$article-text-color: #585858;
$hover-color: #FF4C05;
$background-color: #D1DFFF;

@mixin article-text {
	font-family: 'Zilla Slab', serif;
	color: $article-text-color;
}


.clearfix::before,
.clearfix::after {
  display: table;
  content: " ";
}
.clearfix::after {
  clear: both;
}

#main-header {
	display: block;
	position: relative;
	margin: auto;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 40px;
	width: 970px;
	max-height: 360px;
	.site-title {
	 	display: inline-block;
	 	float: left;
	 	position: relative;
	 	font-family: 'Zilla Slab Highlight', cursive;
	 	font-size: 72px;
	 	color: $header-color;
	 	width: 260px;
	 	height: 260px;
	 	margin-top: 5px;
	 	margin-left: 10px;
	 	margin-bottom: 0px;
	}
	.tagline {
		float: left;
		margin-top: 2px;
		font-family: 'Droid Sans Mono', monospace;
		font-size: 18px;
		text-align: right;
		color: $tagline-color;
		margin-left: 10px;
		margin-top: 15px;
	}
}

#tagline-box {
	display: block;
	width: 600px;
	height: 60px;
}

#img-box {
	display: block;
	left: 290px;
	position: absolute;
	width: 720px;
	height: 260px;
}

#sword {
	display: block;
	float: left;
	position: static;
	width: 650px;
	padding-top: 50px;
}

body {
	background: #fff;
  	background: linear-gradient(#fff 30%, $background-color);
}

main {
	display: block;
	max-width: 1500px;
}

.section-title {
	display: block;
	text-align: left;
	font-family: 'Zilla Slab', serif;
	font-size: 30px;
	margin-left: 15px;
	padding-right: 0px;
	margin-bottom: 1px;
}

#main-content {
	display: block;
	position: relative;
	margin: auto;
	width: 950px;
	padding-right: 0;
}


.section-content {
	@include article-text;
	display: block;
	box-sizing: border-box;
	width: 885px;
	padding-left: 50px;
	padding-right: -10px;
	font-size: 19px;
	line-height: 1.5em;
}

.citation {
	display: block;
	text-align: right;
	font-family: 'Droid Sans Mono', monospace;
	font-style: normal;
	margin-right: 80px;
	color: $tagline-color;
}

#sidebar {
	display: block;
	width: 950px;
	height: 180px;
	margin: auto;
	padding-top: 30px;
	padding-right: 70px;
	.section-title {
		text-align: right;
	}
}

.nav-link-list-item {
	display: inline-block;
	float: right;
	background: $tagline-color;
	width: 200px;
	padding: 4px;
	text-align: center;
	margin: 4px;
	a {
		font-family: 'Droid Sans Mono', monospace;
		color: #fff;
		text-decoration: none;
	}
}

.nav-link-list-item:hover {
	background: $hover-color;
}