/*
 * Global Styles
 */

html {
    font-size: 26px;
    margin: 0px;
    padding: 0px;
}

body {
    font: 100%/1.618 serif;
    font-family: 'Cormorant Infant', serif;
    color: #666;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 2.618em;
    font-weight: 900;
}

h2 {
    font-size: 1.618em;
    font-weight: 700;

    text-transform: uppercase
}

a {
    text-decoration: none;
    padding: 3px;
    border-bottom: 2px solid #1b98a3;
    color: #1b98a3;
}

a:hover {
    background-color: #FF3227;
    color: white;
    border-bottom: 2px solid white;
    border-radius: 5px;
    transition: 0.5s;
}

/*
 * Header Styles
 */

header {
    background: rgba(27,152,163,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(27,152,163,1) 0%, rgba(7,35,36,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(27,152,163,1)), color-stop(100%, rgba(7,35,36,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(27,152,163,1) 0%, rgba(7,35,36,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(27,152,163,1) 0%, rgba(7,35,36,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(27,152,163,1) 0%, rgba(7,35,36,1) 100%);
    background: radial-gradient(ellipse at center, rgba(27,152,163,1) 0%, rgba(7,35,36,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b98a3', endColorstr='#072324', GradientType=1 );
    color: white;
    font-family: 'Cormorant Unicase', serif;
    padding: 10% 0% 5% 0%;
    border-bottom: 10px solid black;
}

header .tagline {
    text-align: right;
    font-size: 1.618em;;
}

#header-wrapper {
    box-sizing: border-box;
    margin: 0% 15% 5% 15%;
    padding: 2% 5% 3% 5%;
    border: 3px solid white;
    background-color: rgba(0, 0, 0, .65);
    text-transform: uppercase
}

/*
 * Main Styles
 */

main,
aside {
    box-sizing: border-box;
    margin: 0%;
    padding: 0% 15%;
}


main h2 {
    color: #326A6F;
    border-bottom: 5px solid #326A6F;
}

main p:first-child {
    margin-top: 50px;
}

main p {
    margin-bottom: 45px;
    text-indent: 6%;
}

section:last-of-type {
    margin-bottom: 80px;
}

.main-content-section {
   margin-top: 80px;
}

.citation {
    font-size: 1.618em;
    color: #AAA;
    display: block;
    text-align: right;
}

/*
 * Aside Styles
 */

aside {
    background-color: #11379D;
    color: white;
    padding-top: 5%; 
    padding-bottom: 5%;
}

aside a {
    color: white;
    border-bottom: 2px solid white;
}

aside a:hover {
    background-color: #11379D;
    color: #E99E00;
    border-bottom: 2px solid #E99E00;
    transition: 0.5s;
}

aside ul li {
    margin: 1% 0%;
}
/*
 * Media Queries
 */

@media (max-device-width: 1024px) {
    html {
        font-size: 50px;
    }

    header {
        padding-top: 4%;
    }
    #header-wrapper{
        padding: 2%;
        margin: 1%;
    }

    main,
    aside {
        padding: 2%;
    }

}