/* testing these fonts, pare them down later */
/*FONTS*/
@font-face {
  font-family: "Norse";
  src: url( "fonts/norse/norse/Norse.woff" );
}

@font-face {
  font-family: "Floki";
  src: url( "fonts/floki/floki.woff" );
}
