$body-text-color: #1E2A47;
$body-background-color: #C1CDEA;
$link-color: #544489;
$link-hover-color: #AB9BE0;
$nav-border-color: $link-hover-color;
$nav-background-color: #DFD6FB;
$nav-hover-border-color: #291F49;